include *.py
include *.rst
include .mailmap
include LICENSE
include MANIFEST.in
include pyproject.toml
include tox.ini

recursive-include .circleci *
recursive-include .github *

include mopidy_kitchen/ext.conf
recursive-include mopidy_kitchen *.html

recursive-include tests *.py
recursive-include tests/data *
